
/* Modified LookingGlass theme */

#LookingGlassDialog
{
    background-color: rgba(0,0,0,0.7);
    spacing: 4px;
    padding: 4px;
    border: 2px solid grey;
    border-radius: 4px;
    color: white;
}

#LookingGlassDialog > #Toolbar
{
    border: 1px solid grey;
    border-radius: 4px;
}

#LookingGlassDialog .labels {
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
    padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
    background-image: url("/usr/share/gnome-shell/theme/panel-button-highlight-wide.svg");
    color: white;
    text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog .notebook-tab:selected {
    border-image: url("/usr/share/gnome-shell/theme/panel-button-border.svg") 10 10 0 2;
    background-image: url("/usr/share/gnome-shell/theme/panel-button-highlight-wide.svg");
    color: white;
    text-shadow: black 0px 2px 2px; 
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
    color: white;
    font-weight: bold;
}

.lg-dialog StEntry
{
    color: white;
}

.lg-obj-inspector-title
{
    spacing: 4px;
}

.lg-obj-inspector-button
{
    border: 1px solid white;
    padding: 4px;
    border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
    border: 1.5px solid white;
}

.lg-dialog .shell-link
{
    color: white;
    text-decoration: none;
}

.lg-dialog .shell-link:hover
{
    color: white;
    border-image: url("/usr/share/gnome-shell/theme/panel-button-border.svg") 10 10 0 2;
    background-image: url("/usr/share/gnome-shell/theme/panel-button-highlight-wide.svg");
    text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
    spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: white;
}

